<div id="ACADEMIC" class="row">
  <h1 class="text-center"> What I learned </h1>
  <p class="text-center"> HTML & CSS, JavaScript, Bootstrap</p>
  <div class="card col-md-3">
    <div class="card-body">
      <img class="card-img"src=""alt="">
      <h1 class="card-title">HTML & CSS</h1>
      <p class="card-text">HTML stands for Hypertext Markup Language.<br>It is the standard markup language for Web pages
      </p>
      <p class="card-text">CSS stands for Cascading Style Sheets.<br>It describes how HTML elements are to be displayed
      </p>

    </div>
  </div>
  <div class="card col-md-3">
    <div class="card-body">
      <img class="card-img"src=""alt="">
      <h1 class="card-title">Javascript</h1>
      <p class="card-text">This is a paragraph This is a paragraph This is a paragraph This is a paragraph</p>

    </div>
  </div>
  <div class="card col-md-3">
    <div class="card-body">
      <img class="card-img"src="" alt="">
      <h1 class="card-title">Bootstrap</h1>
      <p class="card-text">Bootstrap is a framework.<br>It allow us to create Responsive Webpage.</p>
    </div>
  </div>
  <div class="card col-md-3">
    <div class="card-body">
      <img class="card-img"src="https://avatars.githubusercontent.com/u/70142?s=200&v=4"alt="">
      <h1 class="card-title">jQuery</h1>
      <p class="card-text">jQuery is write less but do more JavaScript library.<br>The purpose of jQuery is to make the work much easier to use JavaScript on your website.
      </p>
    </div>
  </div>